---
import Footer from "..//pages/components/Footer.astro";
import ArtistListe from "../components/ArtistListe.astro";

const data = await fetch(
  "https://qqlcqmrveupfwluwoctv.supabase.co/rest/v1/affiliatedCphData",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFxbGNxbXJ2ZXVwZndsdXdvY3R2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDc3MzQ3MzQsImV4cCI6MjAyMzMxMDczNH0.18SZnOZc5uAHdiIeonTl5cOenfcDIkL4VOhqSCsTFwM",
    },
  }
).then((res) => res.json());

console.log(data);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Astro</title>
  </head>

  <body>
    <header></header>

    <main>
      <section class="artist">
        {
          data.map((artist) => {
            return <ArtistListe data={artist} />;
          })
        }
      </section>
    </main>
  </body>
</html>
<!-- 
      <section class="test">
        <h2>Hej</h2>
        {
          data.map((artister) => {
            return <ArtistListe data={artister} />;
          })
        }
      </section> -->
