---
import Mainlayout from "../layouts/Mainlayout.astro";
import "../style/generalstyle.css";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
---

<Mainlayout>
  <section class="hero_section">
    <h1 class="hero_title">AFFILIATED</h1>
    <div class="orange_boks">
      <img src="../img/herocom1.jpg" alt="" class="hero_image" />
    </div>
  </section>
</Mainlayout>

<style>
  .hero_section {
    position: relative;
    width: 100%;
  }
  .hero_title {
    position: absolute;
    top: -1rem; /* Juster denne værdi efter behov */
    left: 2rem;
    font-family: "leghug2", sans-serif; /* Sørg for at fonten er korrekt importeret */
    font-size: 60px; /* Juster denne værdi efter behov */
    color: var(--backgroundColor); /* Juster denne værdi efter behov */
    z-index: 10;
    font-family: "../fonts/leghug2.woff2";
  }
  .orange_boks {
    width: 100%;
    background-color: #bd6e29;
    overflow: hidden; /* For at sikre, at intet strækker sig uden for boksen */
    position: relative;
  }
  .hero_image {
    display: block;
    width: auto;
    height: auto;
    max-height: 100%;
    margin-top: 4rem;
  }
  .image_gallery {
    padding: 20px;
    /* Tilføj yderligere styling til galleriet efter behov */
  }
  @media screen and (min-width: 700px) {
    .hero_title {
      position: absolute;
      top: -3rem; /* Juster denne værdi efter behov */
      left: 30rem;
      font-family: "leghug2", sans-serif; /* Sørg for at fonten er korrekt importeret */
      font-size: 100px; /* Juster denne værdi efter behov */
      color: var(--backgroundColor); /* Juster denne værdi efter behov */
      z-index: 10;
      font-family: "../fonts/leghug2.woff2";
    }
  }
</style>
