---
import "../style/generalstyle.css";
import Button from "../components/Button.astro";
import Communitylayout from "../layouts/Communitylayout.astro";
---

<head>
  <title>Community</title>
</head>

<Communitylayout class="community_main">
  <div class="parallax"></div>
  <section id="col_link_vision" class="com_intro">
    <h2>VISION</h2>
    <p>
      In Affiliated, we primarily work with upcoming artists and producers, and
      we help to develop, guide and advise them with an uncompromising and
      transparent approach to creating and publishing music. We view it as our
      task to give them the best framework to unleash their artistic potential
      while ensuring them good business.
    </p>
    <h4>“Independent record label with a vision of artistic freedom”</h4>
  </section>
  <section class="flex_img">
    <img class="img_parallax" src="../img/com_img.webp" alt="" />
    <img class="img_parallax" src="../img/com_img2.webp" alt="" />
  </section>
  <div class="parallax2">
    <div class="parallax_tekst">
      <h3>
        FOUR FACTORS PARTICULARLY DISTINGUISH AFFILIATED FROM OTHER LABELS
      </h3>
    </div>
    <div class="parallax_tekst left_h4">
      <h4>THE ARTISTS' OWN MUSICAL VISION IS IN FOCUS</h4>
    </div>
    <div class="parallax_tekst right_h4">
      <h4>THE ARTISTS ARE FREE TO COLLABORATE WITH ANYONE</h4>
    </div>
    <div class="parallax_tekst left_h4">
      <h4>THE ARTISTS ARE NOT EXCLUSIVELY BOUND TO THE LABEL</h4>
    </div>
    <div id="col_link_about" class="parallax_tekst right_h4">
      <h4>THE ARTISTS OWN 70% OF THEIR MASTER-COPYRIGHTS</h4>
    </div>

    <!-- <img class="img_parallax" src="../img/studie_hero2.webp" alt="" /> -->
  </div>
  <section class="grid_com">
    <div>
      <img class="img_parallax" src="../img/studie_hero.webp" alt="" />
    </div>
    <div class="com_intro2">
      <h4>
        "We believe that artistic freedom and creative expression is the essence
        of making good music."
      </h4>
      <p>
        In Affiliated, we sign artists across style, genre and language.Where
        some of our artists work within Hip Hop’s subgenres such as Trap, Drill,
        UK garage and Backpack-Rap, others make melodic Pop, Neosoul, modern R&B
        and Afrobeats.
      </p>
      <p>
        With the spread of our music, we want to create a platform for upcoming
        artists who do not want to compromise on their sound and vision. We
        dream of making the music industry more open and transparent to create
        better opportunities for the smaller players. We wish to give listeners
        a greater insight into the dominating forces of the music business, as
        well as why this must change to create equal opportunities for everyone
        in the industry.
      </p>
    </div>
  </section>
  <section id="col_link_partners" class="partner_section">
    <div class="partner_flex">
      <div class="partner_wrap">
        <img class="partner_img" src="../public/img/partner2.webp" alt="" />
        <div class="partner_name">
          <p>Alexander Engel</p><p>Creative Director</p>
        </div>
      </div>
      <div class="partner_wrap">
        <img class="partner_img" src="../public/img/partner3.webp" alt="" />
        <div class="partner_name">
          <p>Manus Bell</p><p>Managing Director</p>
        </div>
      </div>
      <div class="partner_wrap">
        <img class="partner_img" src="../public/img/partner4.webp" alt="" />
        <div class="partner_name">
          <p>Benjamin Winberg</p><p>Label Manager</p>
        </div>
      </div>
      <div class="partner_wrap">
        <img class="partner_img" src="../public/img/partner5.webp" alt="" />
        <div class="partner_name"><p>Michael Brandt</p><p>Lawyer</p></div>
      </div>
    </div>
  </section>

  <!--   <section class="grid_img">
    <p>noget</p>
    <img src="../img/herocom4.jpg" alt="" />
  </section>

  <section class="grid_img">
    <img src="../img/herocom5.jpg" alt="" />
    <img src="../img/herocom6.jpg" alt="" />
  </section> -->

  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
    .partner_flex {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin: -2rem 2rem 2rem 2rem;
    }
    .partner_img {
      width: 100%;
      display: block;
      transition: opacity 0.3s ease;
    }
    .partner_wrap {
      position: relative;
      display: inline-block;
    }
    .partner_name {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background-color: rgba(189, 110, 41, 0.75);
      color: var(--textColor);
      padding: 10px;
      opacity: 0;
      transition: opacity 0.4s ease;
    }
    .partner_name p {
      font-family: sans_tekst;
      font-weight: bold;
      font-size: 16px;
    }
    .partner_wrap:hover .partner_name {
      opacity: 1;
    }
    .parallax {
      background-image: url("../img/orange collage.webp");
      min-height: 500px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: fit-content;
    }
    .parallax2 {
      background-image: url("../img/studie_hero2.webp");
      min-height: 700px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .com_intro {
      margin: 2rem 5rem 5rem 5rem;
    }
    .com_intro2 {
      margin: 2rem 5rem 5rem 5rem;
    }
    .com_intro2 h4,
    p {
      margin-bottom: 1rem;
    }

    /*  .img_parallax {
      animation-name: img_animation;
      animation-duration: 2s;
      animation-timeline: scroll();
      animation-range: 250px 500px;
    } */

    h3 {
      font-style: italic;
      margin: 2rem;
    }
    h4 {
      font-style: italic;
    }

    @keyframes img_animation {
      from {
        scale: 0.8;
        opacity: 0;
      }
      to {
        scale: 1;
        opacity: 1;
      }
    }
    @media screen and (max-width: 700px) {
      .grid_com,
      .flex_img {
        margin: 2rem;
        gap: 1rem;
      }

      .flex_img {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    @media screen and (min-width: 700px) {
      img {
        max-width: 100%;
      }
      .partner_flex {
        gap: 5rem;
        margin: -5rem 4rem 4rem 4rem;
      }
      .parallax {
        background-image: url("../img/orange collage.webp");
        min-height: 700px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .parallax_tekst h4,
      h3 {
        color: var(--backgroundColor);
        font-style: normal;
      }
      .parallax_tekst h3 {
        padding: 5rem;
      }
      .left_h4 {
        padding: 0 0 3rem 7rem;
      }
      .right_h4 {
        padding: 0 0 3rem 50rem;
      }
      .flex_img {
        position: relative;
        display: flex;
        max-width: 100%;
        gap: 5rem;
        justify-content: center;
        margin-bottom: 5rem;
      }
      .grid_com {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin: 5rem 5rem 5rem 0;
        gap: 5rem;
        min-height: 500px;
      }

      .grid_com h4,
      p {
        margin-bottom: 2rem;
      }
      .grid_com h4 {
        margin-top: -2rem;
      }
      .com_intro {
        margin: 2rem 20rem 5rem 20rem;
      }
    }
  </style>
</Communitylayout>
