---
import Mainlayout from "../layouts/Mainlayout.astro";
import "../style/generalstyle.css";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
---

<Mainlayout class="community_main">
  <div class="parallax"></div>
  <section class="com_intro">
    <h2>VISION</h2>
    <p>
      With the spread of our music, we want to create a platform for upcoming artists who do not want to compromise on their sound and vision. We dream of making the music industry more open and transparent to create better opportunities for the smaller players. We wish to give listeners a greater insight into the dominating forces of the music
      business, as well as why this must change to create equal opportunities for everyone in the industry.
    </p>
  </section>
  <section class="grid_img">
    <img class="img_parallax" src="../img/com_img.webp" alt="" />
    <img class="img_parallax" src="../img/com_img2.webp" alt="" />
  </section>
  <!--   <section class="grid_img">
    <p>noget</p>
    <img src="../img/herocom4.jpg" alt="" />
  </section>

  <section class="grid_img">
    <img src="../img/herocom5.jpg" alt="" />
    <img src="../img/herocom6.jpg" alt="" />
  </section> -->
</Mainlayout>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .parallax {
    background-image: url("../img/parallax_hvid.webp");
    min-height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .com_intro {
    margin: 2rem 5rem 5rem 5rem;
  }

  .img_parallax {
    animation-name: img_animation;
    animation-duration: 2s;
    animation-timeline: view();
    animation-range: 250px 500px;
  }
  @keyframes img_animation {
    from {
      scale: 0.8;
      opacity: 0;
    }
    to {
      scale: 1;
      opacity: 1;
    }
  }

  @media screen and (min-width: 700px) {
    img {
      max-width: 100%;
    }

    .parallax {
      background-image: url("../img/orange collage.webp");
      min-height: 700px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .title {
      top: 30rem;
      font-size: 60px;
      position: absolute;
      font-family: "../fonts/leghug2.woff2";
      right: 2rem;
      color: #fba35c;
    }
    .grid_img {
      position: relative;
      display: flex;
      max-width: 100%;
      gap: 5rem;
      justify-content: center;
      background-color: #e2cbac;
    }
    .com_intro {
      margin: 2rem 20rem 5rem 20rem;
    }
  }
</style>
