---
import Mainlayout from "../layouts/Mainlayout.astro";
import "../style/generalstyle.css";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
---

<Mainlayout>
  <h1>test</h1>
</Mainlayout>
