---
import Mainlayout from "../layouts/Mainlayout.astro";
import "../style/generalstyle.css";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Collaborate from "../components/Collaborate.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <Mainlayout>
    <section class="header_karrusel"></section>
    <div>
      <h3>AFFILIATED IS A FIERCE BOUTIQUE INDEPENDENT RECORD LABEL, AIMING TO CULTUVATE A DIVERSE ROSTER OF UNDISCOVERED AND UPCOMING MUSIC TALENT.</h3>
    </div>
    <section class="artist_section">
      <div class="artist_filter_buttons"></div>
      <div class="cards_grid"></div>
    </section>

    <section class="collaborate">
      <div>
        <h2>OUR COLLABORATORS</h2>
        <p>Samarbejde med Affiliated ... mere tekst følger...</p>
      </div>
      <div><Collaborate /></div>
    </section>
    <section class="contact"></section>
    <img class="frontpage_logo" src="" alt="" />
  </Mainlayout>


</html>
