---
import Mainlayout from "../layouts/Mainlayout.astro";
import "../style/generalstyle.css";
import Buttons from "../components/Buttons.astro";
import Card from "../components/Card.astro";
import Collaborate from "../components/Collaborate.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <Mainlayout>
    <section class="header_karrusel"></section>
    <div>
      <h3>AFFILIATED IS A FIERCE BOUTIQUE INDEPENDENT RECORD LABEL, AIMING TO CULTUVATE A DIVERSE ROSTER OF UNDISCOVERED AND UPCOMING MUSIC TALENT.</h3>
    </div>
    <section class="artist_section">
      <div class="artist_filter_buttons"></div>
      <div class="cards_grid"></div>
    </section>

    <section class="collaborate">
      <div class="collab_grid">
        <img class="affiliated_logo" id="order" src="/public/images/affiliated_logo.png" alt="Affiliated Logo"> 
        <div class="collab_text" >
          <h2 class="collab_header">OUR COLLABORATORS</h2>
          <p class="collab_p">Vi tilbyder den samme eksklusive standard som større pladeselskaber, men til en mere overkommelig pris. Vores visionære partnerskab åbner dørene for virksomheder, der ønsker kvalitetsmusik uden at gå på kompromis med deres budget. Velkommen til en fremtid af fordelagtigt musikalsk samarbejde.
          </p>
       </div>
      </div>
      <div><Collaborate /></div>
    </section>
    <section class="contact">
  
    </section>
    <img class="frontpage_logo" src="" alt="" />

  </Mainlayout>


</html>


<style>
  .collab_text{
    margin: auto;
    max-width: 24rem;
    text-align: left;

  }

  .collab_header{
    padding-bottom: 1.5rem;
  }


.affiliated_logo{
width: 20rem;
height: auto;
margin: auto;

}


  @media (min-width: 700px) {

  

  .collab_grid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  } 

  .collab_grid > .collab_text{
    order: -1;
  }


  .collab_text{
    max-width: 45rem;
    padding-left: 5rem;
  }

  .affiliated_logo{
    width: 40rem;
    height: auto;
    margin: auto;
  }

  .collab_p{
    max-width: 100%;
  }
}

</style>