---
import Mainlayout from "../layouts/Mainlayout.astro";
import "../style/generalstyle.css";
import Button from "../components/Button.astro";
import Collaborate from "../components/Collaborate.astro";
import Carousel from "../components/Carousel.astro";

import ArtistListe from "../components/ArtistListe.astro";
const data = await fetch("https://qqlcqmrveupfwluwoctv.supabase.co/rest/v1/affiliatedCphData", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFxbGNxbXJ2ZXVwZndsdXdvY3R2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDc3MzQ3MzQsImV4cCI6MjAyMzMxMDczNH0.18SZnOZc5uAHdiIeonTl5cOenfcDIkL4VOhqSCsTFwM",
  },
}).then((res) => res.json());

// Filter function to get artists based on category
---

<Mainlayout id="frontpage">
  <section class="header_karrusel" id="highlights_link_sektion"></section>
  <section>
    <Carousel />
  </section>
  <div>
    <h3 class="intro">AFFILIATED IS A FIERCE BOUTIQUE INDEPENDENT RECORD LABEL, AIMING TO CULTUVATE A DIVERSE ROSTER OF UNDISCOVERED AND UPCOMING MUSIC TALENT.</h3>
    <h3 class="artist_header">Artist</h3>
  </div>
  <section class="artist_section" id="artist_link_sektion">
    <div class="artist_filter_buttons">
      <Button variant="filter_knap">ALL</Button>
      <Button variant="filter_knap">LABEL</Button>
      <Button variant="filter_knap">PUBLISHING</Button>
      <Button variant="filter_knap">MANAGEMENT</Button>
    </div>
    <hr class="underline" />
    <div class="cards_grid"></div>
  </section>
  <section class="artist grid_auto">
    {
      data.map((artist) => {
        return <ArtistListe data={artist} />;
      })
    }
  </section>
  <section class="collaborate" id="col_link_sektion">
    <div class="collab_grid">
      <img class="affiliated_logo" id="order" src="/public/images/affiliated_logo.png" alt="Affiliated Logo" />
      <div class="collab_text">
        <h2 class="collab_header">OUR COLLABORATORS</h2>
        <p class="collab_p">We deliver the same high standards as major record labels but at a more accessible price. Our visionary partnership emphasizes cooperation and the nurturing of upcoming talent. By working together, we enable partners to integrate top-tier music into their projects without exceeding their budget. Our commitment to supporting emerging artists ensures a dynamic and fresh musical landscape, fostering creativity and innovation. Join us in shaping a new era of collaborative musical excellence, where businesses and artists thrive together in a mutually beneficial partnership.</p>
      </div>
    </div>
    <div><Collaborate /></div>
  </section>
  <section class="contact" id="contact_link_sektion">
    <div class="booking">
      <h3 class="underlinebooking">BOOKING</h3>
      <div id="bookingMail" class="mail">
        <p><a href="manager@affiliatedcph.com">booking@affiliatedcph.com</a></p>
      </div>
    </div>
    <div class="contact2">
      <h3 class="underlinebooking">CONTACT</h3>
      <a href=""></a>
      <div id="contactMail" class="mail">
        <p><a href="manager@affiliatedcph.com">manager@affiliatedcph.com</a></p>
      </div>
    </div>
  </section>
  <img class="frontpage_logo" src="" alt="" />
</Mainlayout>

<style>
  .artist_header {
    text-align: center;
    margin: 2rem 0;
    text-transform: uppercase;
  }
  .artist_section {
    position: relative;
    bottom: 2vh;
  }
  .intro {
    margin: 4rem 4rem 10rem 4rem;
    max-width: 60rem;
  }
  .collab_text {
    margin: auto;
    max-width: 24rem;
    text-align: left;
    padding-bottom: 3rem;
  }

  .collab_header {
    padding-bottom: 1.5rem;
  }

  .affiliated_logo {
    width: 20rem;
    height: auto;
    margin: auto;
  }
  .underline {
    width: 26.2rem;
    margin: auto;
    position: relative;
    bottom: 0.4vh;
  }
  .artist_filter_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .mail {
    color: var(--textColor);
    text-decoration: none;
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .contact .mail a {
    text-decoration: none;
    color: var(--textColor);
  }
  .contact .mail a:hover {
    color: var(--accentColor);
  }
  .contact2 {
    display: flex;
    flex-direction: column;
  }
  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 7rem;
  }
  .underlinebooking {
    border-bottom: 1px solid black;
    text-align: center;
  }

  .header_karrusel {
    margin-top: 6rem;
  }

  @media (min-width: 1715px) {
    .collab_p {
      max-width: 150%;
      font-size: 2rem;
    }

    .intro {
      font-size: 30px;
    }
    .collab_header {
      font-size: 3.5rem;
      white-space: nowrap;
    }
    .collab_grid {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .collab_grid > .collab_text {
      order: -1;
    }

    .collab_text {
      max-width: 45rem;
      padding-left: 5rem;
    }

    .affiliated_logo {
      width: 40rem;
      height: auto;
      margin: auto;
      position: relative;
      right: 3vw;
    }
  }
  @media (max-width: 1714px) {
    .intro {
      font-size: 30px;
    }
    .collab_header {
      font-size: 3.5rem;
      white-space: nowrap;
      font-size: 30px;
    }
    .collab_header {
      font-size: 3.5rem;
      white-space: nowrap;
    }
    .collab_grid {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .collab_grid > .collab_text {
      order: -1;
    }

    .collab_text {
      max-width: 45rem;
      padding-left: 5rem;
    }

    .affiliated_logo {
      width: 40rem;
      height: auto;
      margin: auto;
      position: relative;
      right: 3vw;
    }

    .contact {
      gap: 10rem;
    }
  }

  @media (max-width: 1293px) {
    .intro {
      font-size: 24px;
    }
    .collab_header {
      font-size: 3.5rem;
      white-space: nowrap;
    }
    .collab_grid {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .collab_grid > .collab_text {
      order: -1;
    }

    .collab_text {
      max-width: 45rem;
      padding-left: 5rem;
    }

    .affiliated_logo {
      width: 30rem;
      height: auto;
      margin: auto;
      position: relative;
      right: 3vw;
    }

    .contact {
      gap: 10rem;
    }
  }

  @media (max-width: 1132px) {
    .intro {
      font-size: 18px;
    }
    .collab_header {
      font-size: 2rem;
      white-space: nowrap;
    }
    .collab_grid {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .collab_grid > .collab_text {
      order: -1;
    }

    .collab_text {
      max-width: 45rem;
      padding: 5rem;
    }

    .affiliated_logo {
      width: 20rem;
      height: auto;
      margin: auto;
      position: relative;
      right: 3vw;
    }

    .collab_p {
      max-width: 100%;
      position: relative;
      right: 3vw;
    }

    .collab_p {
      max-width: 100%;
    }

    .contact {
      gap: 10rem;
    }
  }

  @media (max-width: 699px) {
    .collab_header {
      font-size: 1.3rem;
      white-space: nowrap;
      max-width: 20rem;
    }
    .collab_p {
      font-size: 1rem;
      max-width: 25rem;
    }

    .collab_grid > .collab_text {
      order: 1;
    }
    .collab_grid {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .affiliated_logo {
      width: 20rem;
      height: auto;
      margin: auto;
      position: relative;
      right: 3vw;
    }
  }

  @media (max-width: 460px) {
    .collab_header {
      font-size: 1.3rem;
      white-space: nowrap;
      max-width: 20rem;
    }
    .collab_p {
      font-size: 1rem;
      max-width: 20rem;
    }

    .collab_grid > .collab_text {
      order: 1;
    }
    .collab_grid {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .affiliated_logo {
      width: 20rem;
      height: auto;
      margin: auto;
      position: relative;
      right: 3vw;
    }
  }
</style>
