---
import Mainlayout from "../layouts/Mainlayout.astro";
import "../style/generalstyle.css";
import Buttons from "..components/Buttons.astro";
import Card from "../components/Card.astro";
---

<Mainlayout>
  <section class="singleview_img"></section>
  <section class="artist_info">
    <div></div>
  </section>
</Mainlayout>
