---
import Mainlayout from "../layouts/Mainlayout.astro";
import "../style/generalstyle.css";
import Buttons from "../components/Buttons.astro";
import Card from "../components/Card.astro";
---

<Mainlayout>
  ---

  ---
  
  <template id="singleview">
      <section class="artist_background_color">
          <h1></h1>
          <img src="" alt="">
      </section>
      <section>
          <div class="artist_info">
              <h3></h3>
              <p></p>
          </div>
          <iframes src="" frameborder="0"></iframe>
          <div class="so_me_links">
              <a href=""></a>
              <a href=""></a>
              <a href=""></a>
              <a href=""></a>
          </div>
          <a href="">BOOKING KNAP</a>
          
      </section>
  
  </template>
</Mainlayout>

<style>
  
</style>
