---
import Mainlayout from "../layouts/Mainlayout.astro";
import "../style/generalstyle.css";
import Buttons from "..components/Buttons.astro";
import Card from "../components/Card.astro";
---

<Mainlayout>
  <section class="singleview_img">
    <img src="" alt="" />
    <h1>Artist name</h1>
  </section>
  <section class="artist_info">
    <div class="singleview_grid">
      <div class="singleview_text">
        <h3>Artist name</h3>
        <p>Artist info</p>
      </div>
      <div class="singleview_links"></div>
    </div>
  </section>
</Mainlayout>
