.kunsterPic {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
} 

.icon_containerCards li {
  list-style-type: none;
}
.grid_auto {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.containerCards {
  aspect-ratio: 1/1;
  margin: 0;
  padding: 0;
  overflow: hidden;
} 


.containerCards > img {
  display: block;
  width: 100%;
  height: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.cardsLink {
  text-decoration: none;
  color: var(--backgroundColor);
}
.kunsterPic:hover {
  filter: none;
}

.boxLink {
  position: relative;
  width: 360px;
}

.listeNavnCards {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  /* animation: scrollText 4s linear infinite; */
  display: none;
  pointer-events: none;
  background-color: #2929299e;
}

.kunsterPic {
  overflow: hidden;
}
.name_wrapperCards:hover .listeNavnCards {
  display: block;
}
.collab_wrappeCards {
  width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.img_wrapper {
  display: flex;
  width: 100%;
  animation: scrollText 1s linear infinite;
}

/* @keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-60%);
  }
  
} */
.icon_containerCards {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 2vh;
  right: 1.5vw;
}
.icon_containerCards a {
  margin: 0.5rem;
  font-size: 0.65rem;
}
.social-iconCards {
  width: 100%;
}
.social-iconCards {
  text-decoration: none;
  color: var(--backgroundColor);
}

.social-iconCards:hover {
  color: var(--accentColor);
}
.singleview a {
  color: var(--textColor);
  font-size: 1rem;
}
.singleview a:hover {
  color: var(--accentColor);
}
