.kunsterPic {
    width: 380px;
    height: 360px;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
  }
  
  .containerCards {
    width: 370px;
    height: 360px;
  }
  .cardsLink {
    text-decoration: none;
    color: var(--backgroundColor);
  }
  .kunsterPic:hover {
    filter: none;
  }
  
  .boxLink {
    position: relative;
    width: 360px;
  }
  
  .listeNavnCards {
    position: absolute;
    top: 35%;
    width: 100%;
    animation: scrollText 10s linear infinite;
    display: none;
    pointer-events: none;
  }
  
  .kunsterPic {
    overflow: hidden;
  }
  .name_wrapperCards:hover .listeNavnCards{
    display: block;
  }
  .collab_wrappeCards {
    width: 100%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
  }
  
  .img_wrapper {
    display: flex;
    width: 100%;
    animation: scrollText 1s linear infinite;
  }
  .colCard {
    display: flex;
  }
  
  @keyframes scrollText {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-60%);
    }
  }
  .icon_containerCards {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 2vh;
  }
  .icon_containerCards a {
    margin: 0.5rem;
    font-size: 0.65rem;
  }
  .social-iconCards {
    width: 100%;
  }
  a {
    text-decoration: none;
    color: var(--backgroundColor);
  }

  .social-iconCards:hover {
    color: var(--accentColor);
  }
  .singleview a {
    color: var(--textColor);
    font-size: 1rem;
  }
  .singleview a:hover {
    color: var(--accentColor);
  }
  
  