---
// import { isVNode } from "astro/jsx-runtime";

const { data } = Astro.props;
---

<a href={`artist/${data.slug}`}>
  <articl>
    <h2>{data.kunsterNavn}</h2>
    <img
      src={"/public/images/" + `${data.kunsterBillede1}`}
      alt="billede af artist"
      ;
    />
  </articl>
</a>

<style>
  img {
    width: 380px;
    height: 360px;
    object-fit: cover;
    object-position: center;
    -webkit-filter: grayscale(100%);
  }

  img:hover {
    -webkit-filter: none;
  }
</style>
