---
import "../style/generalstyle.css";
const { variant, size } = Astro.props;
---

<button class={variant}><slot /></button>

<style>
  button {
    padding: 0 1rem;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }
  .show {
    display: block;
  }
  .primary {
    background-color: var(--buttonColor);
    color: var(--buttonText);
    font-size: 30px;
  }
  .primary:hover {
    background-color: var(--backgroundColor);
    color: var(--textColor);
  }
  .filter_knap {
    background-color: transparent;
    border: none;
    color: var(--textColor);
    font-size: 20px;
  }
  .filter_knap:hover,
  .filter_knap:active {
    background-color: var(--buttonColor);
    color: var(--buttonText);
  }

  .community_button {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    border: 1px solid var(--buttonColor);
    font-size: 12px;
    position: relative;
    left: 3rem;
  }
  .community_button:hover {
    background-color: var(--accentColor);
    color: var(--textColor);
  }

  @media screen and (max-width: 700px) {
    .primary {
      font-size: 10px;
    }
    .filter_knap {
      font-size: 12px;
    }
    .community_button {
      font-size: 10px;

      position: relative;
      left: 1rem;
    }
  }
</style>
