---
import "../style/generalstyle.css";
const { variant, size } = Astro.props;
---

<button class={variant}><slot /></button>

<style>
  button {
    padding: 0 1rem;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }
  .primary {
    background-color: var(--buttonColor);
    color: var(--buttonText);
    font-size: 10px;
  }
  .primary:hover {
    background-color: var(--backgroundColor);
    color: var(--textColor);
  }
  .filter_knap {
    background-color: transparent;
    border: none;
    color: var(--textColor);
    font-size: 12px;
  }
  .filter_knap:hover,
  .filter_knap:active {
    background-color: var(--buttonColor);
    color: var(--buttonText);
  }

  .community_button {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-size: 10px;
    position: relative;
    left: 1rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    box-shadow:
      inset 0 -3em 3em var(--backgroundColor),
      0 0 0 2px white,
      0.4em 0.4em 1em rgb(128, 128, 128);
  }
  .community_button:hover {
    background-color: var(--accentColor);
    color: var(--textColor);
  }

  @media screen and (min-width: 700px) {
    .primary {
      font-size: 30px;
    }
    .filter_knap {
      font-size: 20px;
    }
    .community_button {
      font-size: 12px;
      position: relative;
      left: 32rem;
    }
  }
</style>
