---
import "../style/generalstyle.css";
const { variant, size } = Astro.props;
---

<button class={variant}><slot /></button>

<style>
  button {
    padding: 0.3rem 1.5rem;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }
  .primary {
    background-color: var(--buttonColor);
    color: var(--buttonText);
    font-size: 30px;
  }
  .primary:hover {
    background-color: var(--buttonText);
    color: var(--accentColor);
  }
  .filter_knap {
    background-color: transparent;
    border: none;
    color: var(--textColor);
    font-size: 20px;
  }
  .filter_knap:hover,
  .filter_knap:active {
    background-color: var(--buttonColor);
    color: var(--buttonText);
  }

  .community_button {
    background-color: var(--accentColor);
    color: var(--textColor);
    border: none;
    font-size: 16px;
  }

  @media screen and (max-width: 700px) {
    .primary {
      font-size: 10px;
    }
    .filter_knap {
      font-size: 12px;
    }
    .community_button {
      font-size: 10px;
      width: 80px;
      height: 20px;
    }
  }
</style>
