---
import "../style/generalstyle.css";
---
<article class="collab_wrapper">
    <section class="collab_about">
        <h2>Our</h2>
        <p></p>
    </section>
    <section class="collab_images">

    
    </section>
</article>

<style>

</style>

