---
import "../style/generalstyle.css";
---
<article class="collab_wrapper">
    <section class="collab_images">
        <div class="img_wrapper">
            <img src="/public/images/frankies_logo.png" alt="Frankies Logo">
            <img src="/public/images/huset_logo.png" alt="">
            <img src="/public/images/koda_logo.png" alt="">
            <img src="/public/images/roskilde_logo.png" alt="">
            <img src="/public/images/spot-festival_logo.png" alt="">
            <img src="/public/images/vega_logo.png" alt="">
        </div>
    
    </section>
</article>

<style>
.img_wrapper{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
</style>

