---
import "../style/generalstyle.css";
---
<article class="collab_wrapper">
        <div class="img_wrapper">
            <img src="/public/images/frankies_logo.png" alt="Frankies Logo">
            <img src="/public/images/huset_logo.png" alt="Huset logo">
            <img src="/public/images/koda_logo.png" alt="Koda logo">
            <img src="/public/images/roskilde_logo.png" alt="Roskilde logo">
            <img src="/public/images/spot-festival_logo.png" alt="Spot Festival logo">
            <img src="/public/images/vega_logo.png" alt="Vega logo">
        </div>
</article>

<style>
.collab_wrapper{
     overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.img_wrapper{
  display: inline-block;
    position: absolute;
    width: 100%;
    animation: scrollText 20s linear infinite;
}


  @keyframes scrollText {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-50%);
    }
  }

</style>

