---
import "../style/generalstyle.css";
---

<article class="collab_wrapper">
  <div class="img_wrapper">
    <img src="../images/frankies_logo.png" alt="Frankies Logo" />
    <img src="../images/huset_logo.png" alt="Huset logo" />
    <img src="../images/koda_logo.png" alt="Koda logo" />
    <img src="../images/roskilde_logo.png" alt="Roskilde logo" />
    <img src="../images/spot-festival_logo.png" alt="Spot Festival logo" />
    <img src="../images/vega_logo.png" alt="Vega logo" />
    <img src="../images/soundboks_logo.png" alt="soundboks logo" />

    <img src="../images/frankies_logo.png" alt="Frankies Logo" />
    <img src="../images/huset_logo.png" alt="Huset logo" />
    <img src="../images/koda_logo.png" alt="Koda logo" />
    <img src="../images/roskilde_logo.png" alt="Roskilde logo" />
    <img src="../images/spot-festival_logo.png" alt="Spot Festival logo" />
    <img src="../images/vega_logo.png" alt="Vega logo" />
    <img src="../images/soundboks_logo.png" alt="soundboks logo" />
  </div>
</article>

<style>
  .collab_wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
  }

  .img_wrapper {
    display: flex;
    width: 100%;
    animation: scrollImg 10s linear infinite;
  }

  img {
    width: auto;
    height: 3rem;
    margin: 0 1.2rem;
  }

  @keyframes scrollImg {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-134.5%);
    }
  }
  @media (min-width: 700px) {
    img {
      height: 6rem;
      width: auto;
      margin: 0 1.5rem;
    }

    @keyframes scrollImg {
      from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(-96.5%);
      }
    }
  }
</style>
