---

---

<footer>
  <section class="flex_container">
    <div class="adresse_container">
      <p>Birkedommervej 25</p>
      <p>2400</p>
      <p>Copenhagen</p>
    </div>
    <div class="opening_container">
      <p>Open:</p>
      <p>monday - friday:</p>
      <p>10.00-18.00</p>
    </div>
    <div class="icon_container">
      <p>
        <a title="Affiliated spotify" class="social-icon" href="https://open.spotify.com/playlist/5VbcNbRnFtpPQc4fjjjfS5?si=89bdPcFRS1ixRUsoq1Nzlg&fbclid=IwAR3zqxbzfAjjdSpPr_9ELHn4x06pPdbU1strd67K2aJzGtDbeKn-lf3h-bI&nd=1"
          ><i class="fab fa-spotify fa-2xl"></i></a
        >
      </p>
      <p>
        <a title="Affiliated Instagram" class="social-icon" href="https://www.instagram.com/affiliatedcph/"><i class="fab fa-instagram fa-2xl"></i></a>
      </p>
      <p>
        <a title="Affiliated Facebook" class="social-icon" href="https://www.facebook.com/affiliatedcph/"><i class="fab fa-facebook fa-2xl"></i></a>
      </p>
    </div>
  </section>
  <section class="cvr_container">
    <p>CVR: 36559438</p>
  </section>
</footer>

<style>
  /* Common styles */
  .flex_container div p,
  .cvr_container div p,
  footer {
    font-family: Arial, Helvetica, sans-serif;
  }

  footer {
    background-color: #685950;
    color: white;
    padding: 1rem;
  }

  footer a,
  a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: var(--accentColor);
  }

  .cvr_container {
    text-align: center;
    font-size: small;
    padding-bottom: 1rem;
  }

  .flex_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2rem;
  }

  .flex_container > div {
    flex: 1 1 100px; /* This allows flexibility and wrapping */
    margin: 0.5rem;
  }

  .icon_container {
    text-align: center;
    margin-top: 1rem;
  }

  .social-icon {
    margin: 0 0.5rem;
  }

  /* Media queries */
  @media only screen and (max-width: 600px) {
    .flex_container {
      display: block;
    }

    .icon_container {
      display: block;
      text-align: center;
      margin-top: 1rem;
    }

    .social-icon {
      display: inline-block;
      margin: 0.5rem;
    }
  }
  .adresse_container {
    position: relative;
    text-align: center;
  }
  .opening_container {
    position: relative;
    text-align: center;
  }

  @media only screen and (min-width: 601px) {
    .flex_container {
      display: flex;
      justify-content: space-between;
    }

    .icon_container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  }
</style>
