---
import "../style/generalstyle.css";
const someLink = await fetch("https://qqlcqmrveupfwluwoctv.supabase.co/rest/v1/affiliatedCphData", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFxbGNxbXJ2ZXVwZndsdXdvY3R2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDc3MzQ3MzQsImV4cCI6MjAyMzMxMDczNH0.18SZnOZc5uAHdiIeonTl5cOenfcDIkL4VOhqSCsTFwM",
  },
}).then((res) => res.json());

console.log(someLink);
const { variant } = Astro.props;
---

<script src="https://kit.fontawesome.com/75de2ab164.js" crossorigin="anonymous"></script>
<div class={`icon_container ${variant === "singleview" ? "singleview" : ""} ${variant === "menu-links" ? "menu-links" : ""}`}>
  <li class="icon_container">
    <ul>
      <a class="social-icon" href=`${someLink.spotifyLogoLink}`><i class="fab fa-spotify fa-2xl"></i></a>
    </ul>
    <ul><a class="social-icon" href=`${someLink.youtubeLogoLink}`><i class="fab fa-youtube fa-2xl"></i></a></ul>
    <ul>
      <a class="social-icon" href=`${someLink.instagramLogoLink}`><i class="fab fa-instagram fa-2xl"></i></a>
    </ul>
    <ul>
      <a class="social-icon" href=`${someLink.facebookLogoLink}`><i class="fab fa-facebook fa-2xl"></i></a>
    </ul>
  </li>
</div>

<style>
  .icon_container {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 2vh;
  }
  .icon_container a {
    margin: 0.5rem;
    font-size: 0.65rem;
  }
  .social-icon {
    width: 100%;
  }
  a {
    text-decoration: none;
    color: var(--backgroundColor);
  }

  .social-icon:hover {
    color: var(--accentColor);
  }
  .singleview a {
    color: var(--textColor);
    font-size: 0.65rem;
  }
  .singleview a:hover {
    color: var(--accentColor);
  }
  .singleview {
    display: flex;
    margin: 3rem 5rem 0 5rem;
  }

  @media (min-width: 600px) {
    .singleview {
      display: flex;
      margin: -1rem 5rem 5rem -12rem;
    }
    .singleview a {
      font-size: 1rem;
    }
  }
</style>
